.board {
  background-color: blue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 25vw;
  height: 25vw;
}

.space {
  background-color: rgb(23, 46, 145);
  width: 50px;
  height: 50px;
  color: black;
  border: 1px solid black
}